a{color:#444;text-decoration: none;}

.content::-webkit-scrollbar {width: 10px;height: 14px;background-color:#fff;}
.content::-webkit-scrollbar-track {background-color:#ccc;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}
.content::-webkit-scrollbar-track:hover {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);background-color:#fefefe;}
.content::-webkit-scrollbar-track:active {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);background-color:#f0f0f0;}
.content::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,0.2);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.2);}
.content::-webkit-scrollbar-thumb:hover {background-color: rgba(0,0,0,0.4);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
.content::-webkit-scrollbar-thumb:active {background: rgba(0,0,0,0.6);}

::-webkit-input-placeholder {color: #aaa;}
:-moz-placeholder {color:#aaa;}
::-moz-placeholder {color:#aaa;}
:-ms-input-placeholder {color:#aaa;}
header{height:70px;border-bottom:1px solid #b4dae8;position: fixed;top:0;left:0;right:0;background:#fff;}
.header-logo{float: left;width:50px;height:50px;-moz-border-radius:200px;-webkit-border-radius:200px;border-radius:200px;overflow: hidden;margin:9px 0 0 15px;}
.h1-header{float: left;font-size:20px;line-height:69px;margin:0 0 0 10px;}
.a-headerLogo{float: left;margin-right:20px;}
a.a-linkHeader{ float: left; font-size:1.2em; line-height:46px; margin:12px 10px 0; padding:0 20px; color:#e83d7c; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; transition:all 0.2s ease-in-out 0s; -ms-transition:all 0.2s ease-in-out 0s; -webkit-transition:all 0.2s ease-in-out 0s; -moz-transition:all 0.2s ease-in-out 0s; -o-transition:all 0.2s ease-in-out 0s; }
a.a-linkHeader:hover{background-color: #e83d7c;color:#fff;box-shadow:1px 1px 4px inset #6d6c6d;}

#pageNav{position: fixed;top:0;right:0px;right:0;margin:0;padding:18px;z-index:1;background-color: #fff;}


.app-nav li ul{border-radius:0 0  0 10px;box-shadow:1px 1px 6px #ddd;top:92%;background:#f4f6f9;}

.sidebar{position: fixed;width:460px;top:71px;}
body.close .sidebar{transform:translateX(-350px)}
.sidebar-toggle{position: fixed;width:auto;background:#ecf3f7;cursor:hand;cursor:pointer;}
@media screen and (max-width: 768px){
    .sidebar-toggle{padding: 15px;left:-50px;}
    .sidebar{left:-350px;}
}
.sidebar .sidebar-nav{line-height:2.2em;margin-top:52px;}
.sidebar .search{margin:0;padding:0;border-bottom:0;}
.sidebar .search .input-wrap{position: fixed;left:0px;top:65px;padding:8px 8px 5px 5px;width:454px;bottom:0;height:55px;background-color: #fff;border-bottom:1px solid #eee;}
.search .results-panel{background-color: #f1f6ff;padding:55px 6px 0px;}
.search .matching-post{border-bottom:1px dotted #ccd1e2!important;}
.search .search-keyword, .search a:hover{color:#e83d7c;}
.search p.empty{padding-bottom:1.5em;color:#de759c;font-size:1.2em;}
/* .sidebar .search:nth-child(2){display: none;} */
.sidebar{border-right: 5px solid #eee;}
.sidebar li{margin:0 0;}
.sidebar ul{margin-left:0;}
.sidebar ul li:nth-child(5n+0){margin-bottom:2.2em;}
.sidebar ul li a{color:#555b61;padding:0 10px;}
.sidebar ul li a:hover{background-color: #e5f7fc;text-decoration: none;color:#0092f3;}
.sidebar ul li.active>a{border-right-width:5px;color:#e83d7c;background-color: #fce8f0;}
.sidebar ul li.active>a:hover{background-color: #fde3df;}
.sidebar ul li strong{color:#91a0bb;margin: 0 10px 0 0;font-weight: normal;}
main{position: absolute;top:70px;right:0;bottom:0px;left:0;height:auto;}
footer{position: fixed;right:10px;bottom:0;padding:5px;text-align: center;z-index:5;opacity:0.7;}
footer:hover{opacity:1.0;}
footer a{color:#3a7bce;}
.content{top:0px;padding-top:20px;left:470px;overflow: auto;min-height:300px;}
.markdown-section{width:100%;max-width:1000px;margin:0 auto 0 0;padding:2rem;}
/* section.cover{height:auto;} */

/* index */
section.cover{position: absolute;top:0;right:0;bottom:0;left:0;z-index: 2;background-color:#ddeaff;}
/* section.cover{position: fixed;top:70px;right:0;bottom:0;left:350px;} */
.indexWrap{position: absolute;top:50%;left:50%;width:500px;height:300px;margin:-200px 0 0 -250px;text-align: center;}
.logo{width:150px;height:150px;-moz-border-radius:200px;-webkit-border-radius:200px;border-radius:200px;overflow: hidden;margin:0 auto 20px;border:2px solid #fff;box-shadow:5px 5px 10px #aaa;}
.logo img{width:150px;height:150px;}
.indexWrap .h1-index{margin:10px 0 20px;}
.indexWrap .h2-index{margin:10px 0;font-size:18px;}
.indexWrap .h3-index{margin:10px 0;font-size:14px;}
.indexWrap .p-info{margin:20px 0;}
.indexWrap a.a-link{margin:0 15px;text-decoration: underline;}
.indexWrap a.a-link:hover{text-decoration: none;}

.markdown-section h1{text-align: center;margin:0 0 1.5rem;}
.markdown-section h1 + h4{text-align: center;}

.markdown-section h2{font-size:1.5rem;border-bottom: 1px dotted #ddd;padding:0 0 1rem;}
.markdown-section h3{font-size:1.2rem;}
.markdown-section h4{font-size:1.0rem;}
.markdown-section h5,
.markdown-section h6{font-size:1rem;}

.markdown-section h2 .anchor span{color:#3b5ead;}
.markdown-section h3 .anchor span{color:#6745b6;}
.markdown-section h4 .anchor span{color:#4174b3;}
.markdown-section h1 .anchor span{color: #000;}
.markdown-section h5 .anchor span,
.markdown-section h6 .anchor span{color:#666;}
/* .app-nav a.active, .app-nav a:hover,.markdown-section a,
.search .search-keyword, .search a:hover,
.sidebar ul li.active>a{color:#0095de;} */
.markdown-section a:hover{text-decoration: none;color:#d6417f;}

.markdown-section blockquote{padding:5px 10px 5px 20px;background-color: #eef8fd;color:#0a82d8;}
.markdown-section blockquote:hover{background-color: #ebf2ff;}

.pagination-item .pagination-item-title{font-size:1rem;}
.pagination-item--next a .pagination-item-title{color:#0095de;opacity:0.7;}
.pagination-item--next a:hover .pagination-item-title{opacity:1;}


.markdown-section ol, .markdown-section ul{
  padding:1rem 1rem 1rem 2.6rem;
  background-color: #eff1f9;
  color:#333;
}
.markdown-section strong{color:#e65601;}
/* .markdown-section ol:hover, .markdown-section ul:hover{background-color: #eff1f9;} */
.markdown-section ol li, .markdown-section ul li,
.markdown-section ol p, .markdown-section ul p{margin:0.5rem 0;}
.markdown-section code, .markdown-section pre,
.markdown-section pre>code{ background-color: #272a2e; color:#ccdbe2;border-radius:0.4rem; -ms-border-radius:0.4rem; -o-border-radius:0.4rem; }
.markdown-section code{background-color: #524f50;color:#e7e6f1;padding:0px 8px;display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;}
.markdown-section pre:hover,.markdown-section pre:hover code,.markdown-section code:hover{background-color: #1d1d1f;}

.docsify-copy-code-button{background:#e83d7c!important;}

.token.punctuation{color:#ddd;}
.token.function, .token.keyword{color:#ffb970;}
.token.boolean, .token.number{color:#FF6D9C;}
.token.cdata, .token.comment, .token.doctype, .token.prolog{color:#6f7388;}
.token.property{color:#37d0ff;}
.token.tag{color:#e4ce2c;}
.token.attr-name{color:#56c1ff;}
.token.string,.token.selector,
.token.attr-value, .token.control, .token.directive, .token.unit{color:#49e46d;}
.token punctuation{color:#f7fcac;}