a{color:#444;text-decoration: none;}
header{height:70px;border-bottom:1px solid #b4dae8;position: fixed;top:0;left:0;right:0;background:#fff;}
.header-logo{float: left;width:50px;height:50px;-moz-border-radius:200px;-webkit-border-radius:200px;border-radius:200px;overflow: hidden;margin:9px 0 0 15px;}
.h1-header{float: left;font-size:20px;line-height:70px;margin:0 0 0 10px;}
a.a-linkHeader{float: left;font-size:16px;line-height:65px;margin:5px 0 0 40px;color:#e66517;font-weight: bold;}
a.a-linkHeader:hover{text-decoration: underline;}

#pageNav{position: fixed;top:0;right:0px;right:0;margin:0;padding:18px;z-index:1;background-color: #fff;}


.app-nav li ul{border-radius:0 0  0 10px;box-shadow:1px 1px 6px #ddd;top:92%;background:#f4f6f9;}

.sidebar{position: fixed;width: 350px;top:71px;}
body.close .sidebar{transform:translateX(-350px)}
.sidebar-toggle{position: fixed;width:auto;bottom:auto;top:120px;background:#ecf3f7;cursor:hand;cursor:pointer;}
@media screen and (max-width: 768px){
    .sidebar-toggle{padding: 15px;left:-50px;}
    .sidebar{left:-350px;}
}
.sidebar ul li a{color:#444;}
.sidebar ul li.active>a{border-right-width:5px;}
.sidebar ul li strong{color:#999;margin: 0 10px 0 0;}
main{position: absolute;top:70px;right:0;bottom:20px;left:0;height:auto;}
footer{position: fixed;left:0;right:0;height:20px;bottom:0;text-align: center;z-index:5;background-color: #fff;border-top:1px solid #eee;}
.content{top:0px;padding-top:20px;left:350px;overflow: auto;min-height:300px;}
/* section.cover{height:auto;} */

/* index */
section.cover{position: absolute;top:0;right:0;bottom:0;left:0;z-index: 2;background-color:#ddeaff;}
/* section.cover{position: fixed;top:70px;right:0;bottom:0;left:350px;} */
.indexWrap{position: absolute;top:50%;left:50%;width:500px;height:300px;margin:-200px 0 0 -250px;text-align: center;}
.logo{width:150px;height:150px;-moz-border-radius:200px;-webkit-border-radius:200px;border-radius:200px;overflow: hidden;margin:0 auto 20px;border:2px solid #fff;box-shadow:5px 5px 10px #aaa;}
.logo img{width:150px;height:150px;}
.indexWrap .h1-index{margin:10px 0 20px;}
.indexWrap .h2-index{margin:10px 0;font-size:18px;}
.indexWrap .h3-index{margin:10px 0;font-size:14px;}
.indexWrap .p-info{margin:20px 0;}
.indexWrap a.a-link{margin:0 15px;text-decoration: underline;}
.indexWrap a.a-link:hover{text-decoration: none;}

.markdown-section h1 .anchor span{font-size:2rem;color: #0095de;}
.markdown-section h2{font-size:1.5rem;}
.markdown-section h3{font-size:1.3rem;}
.markdown-section h4{font-size:1.15rem;}
.markdown-section h5,.markdown-section h6{font-size:1rem;}
.markdown-section blockquote{border-left:4px solid #0095de;}
.sidebar-toggle span{background-color:#0095de;}
.app-nav a.active, .app-nav a:hover,.markdown-section a,
.search .search-keyword, .search a:hover,
.sidebar ul li.active>a{color:#0095de;}
.markdown-section a:hover{text-decoration: underline;}

.pagination-item .pagination-item-title{font-size:1rem;}
.pagination-item--next a .pagination-item-title{color:#0095de;opacity:0.7;}
.pagination-item--next a:hover .pagination-item-title{opacity:1;}