@require './code'
.theme-main__inner
  margin-top 1em!important
  // margin-left 15px!important
@media (min-width: 1000px)
  .theme-main__inner
    max-width 720px!important

@media (min-width: 1200px)
  .theme-main__inner
    max-width 880px!important
    min-width 780px!important
@media (min-width: 1600px)
  .theme-main__inner
    max-width 1080px!important
    min-width 980px!important
.theme-sidebar
  border-color #ddd!important
.dark .theme-sidebar
  border-color #2f2f2f!important
.article__header .post-meta
  background-color #edf7fb !important
.dark .article__header .post-meta
  background-color #2f3235 !important
.powered
  display none

.theme-sidebar__inner .theme-header
.theme-SubNav
.article-item
  border-radius 4px!important
.article-item
  margin-bottom 1em!important

.article-con a
  color #2e7ee0
  &:hover
    text-decoration underline