
/* @import '//at.alicdn.com/t/font_2863733_p9x15qvaky.css'; */
@import './plugin.scss';
$color: #c00;
a:hover{color:#f60!important;}
/* .navbar-container a{text-decoration: none;} */
h1{color:#111;}
h2{font-size:1.4rem!important;color:#222;}
h3{font-size:1.2rem!important;color:#333;}
h4{font-size:1.1rem!important;color:#555;}
.dark h1{color:#c3dcf3;}
.dark h2{color:#bcd7fa;}
.dark h3,.dark h4{color:#809fb9;}
strong{color:$color;}
p.custom-container-title{margin:0!important;}

.banner-wrapper .banner-brand__content h1{color:#ffb100;}
.banner-wrapper .banner-brand__content p{color:#dcd9fc;}
@media (min-width: 768px){
.site-brand{line-height: 2.2rem!important;}
.site-brand .logo{position: relative;top:-3px;margin-right:0.3em!important;width:2.2rem!important;height:2.2rem!important;}
.banner-wrapper .banner-brand__content h1{color:#ffc400;margin-top: 6rem;padding-left:360px;font-size:2rem;}
.banner-wrapper .banner-brand__content p{color:#268500;padding-left:500px;}
.common-wrapper .page-catalog-container ul .page-catalog-menu-depth_2{padding-top:0.6rem;padding-bottom:0.6rem;}
.common-wrapper .page-catalog-container{width:16rem;padding-right:2rem;}
}
.post-item-container .title{font-size: 1rem!important;}
.post-item-container .title a{color:$color!important;}

.page-catalog-container h5{color:$color;font-size: 1.2rem;margin-bottom: 1rem;}
@media (min-width: 1600px){
.common-wrapper .page-catalog-container{width:18rem;}
}
/* 隐藏编辑链接 */
.edit-link{display: none;}

.series-container .series-group:not(:first-of-type) h5.series-heading{margin:0 0 0.8rem!important;padding-top:2rem;}
.series-container .series-group:not(:first-of-type) h5.series-heading::before{bottom:2.5rem!important;}
.series-container a.series-item{line-height: 1.5rem!important;}
.series-container a.series-item.router-link-active{
    color: $color;
    /* background-color: #e4eef7; */
    padding-left:1.2rem!important;
}
.dark .series-container a.series-item.router-link-active{
    /* background-color: #041320; */
}
.series-container a.series-item::before{left: 0.5rem !important;}

.nav-group-container{
    display: flex;
    position: relative;
    padding-top:6em;
    flex-wrap: wrap;
    margin:2em 0;
}
.nav-group-container *{padding:0;margin:0;}
.nav-group-title{position: absolute;top:0.5em;left:0;right:0;font-size: 1.2em;}
.nav-container{
position: relative;top:0;
width:110px;height:100px;text-align: center;
background-color: #fdf2d6;
margin:0 0.7em 0.7em 0;
padding:1em 0 2.5em;
/* border-radius:2px; */
font-size: 14px;
transition:all 0.2s ease-in-out;
opacity: 0.85;
}
.nav-container:hover{opacity:1;transform: scale(1.15);box-shadow:0 0 5px #c1c5ce;z-index: 3;top:-6px;}
.dark .nav-container{background-color:rgba(227, 238, 255, 0.07)!important;}
.dark .nav-container:hover{box-shadow:0 0 10px #22272c;}
.nav-container svg{width:1.5em;height:2em;margin-top:0.4em;}
.nav-container p a{
position: absolute;top:0;left:0;right:0;bottom:0;
padding:4em 0.8em 0 0.8em;
overflow:hidden;
white-space:nowrap;text-overflow:ellipsis;
color:$color;
}
/* .nav-container p a:hover{text-decoration: none;} */
.nav-container .nav-title{padding:1em 0 0.5em;}
/* .nav-container .iconfont{font-size: 2em;font-weight: normal;color:#854919;} */
.nav-container .xicon{font-size: 2em;font-weight: normal;color:$color;}
.nav-container:hover a.xicon{color:#f60!important;}
