
html,body{font-size: 14px!important;line-height: 1.5rem!important;}
/* 滚动条*/ 
::-webkit-scrollbar {width: 10px!important;height: 14px;background-color:#fff;}
::-webkit-scrollbar-track {background-color:#e4e4e4;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}
::-webkit-scrollbar-track:hover {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);background-color:#fefefe;}
::-webkit-scrollbar-track:active {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);background-color:#f0f0f0;}
::-webkit-scrollbar-thumb {background-color: rgba(0,0,0, 0.1)!important;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.2);}
::-webkit-scrollbar-thumb:hover {background-color: rgba(0,0,0,0.3)!important;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar-thumb:active {background: rgba(0,0,0,0.5)!important;}

.dark{
::-webkit-scrollbar {width: 10px!important;height: 14px;background-color:#5e5d5d;}
::-webkit-scrollbar-track {background-color:#666;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}
::-webkit-scrollbar-track:hover {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);background-color:#555;}
::-webkit-scrollbar-track:active {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);background-color:#818181;}
::-webkit-scrollbar-thumb {background-color: rgba(0,0,0, 0.7)!important;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.4);}
::-webkit-scrollbar-thumb:hover {background-color: rgba(0,0,0,0.5)!important;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.7);}
::-webkit-scrollbar-thumb:active {background: rgba(0,0,0,0.3)!important;}
}

.page-container{
    table,ul,ol,p{line-height:1.8rem;}
    blockquote,code,pre{font-size:14px;line-height: 1.5rem;}
    h1, h2, h3, h4, h5, h6{margin-bottom: 1.2rem;}
    p, ol, ul, table{margin-top:1rem;margin-bottom: 1rem;}
    blockquote{background-color: #eefaff;padding-left: 1rem;box-shadow:0 0 4px inset #d9e3ec;border-left-color: #51afee;}

    .imgbox img{display: inline;}
    div[class*="language-"]{background-color: #293142;}
    div[class*="language-"].line-numbers-mode .line-numbers{background-color: #333c4d;width:3.2rem;}
    div[class*="language-"] pre[class*="language-"]{color:#7db6e6;}
    .token.string, .token.char, .token.attr-value, .token.regex, .token.variable{color:#9dc464;}
    .token.property, .token.value, .token.class-name, .token.constant, .token.symbol{color:#25cdd3;}
    .token.boolean, .token.number, .token.function{color:#f7be53}
    .token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin{color:#fa8383;}
    .token.string, .token.char, .token.attr-value, .token.regex, .token.variable{color:53d599;}
    .token.attr-name{color:#c394d6;}
    .token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata{color:#888;}
}
.dark .page-container{
    blockquote{box-shadow:none;}
    a:active,a:link,a:focus,a:visited{color:#6bb7fa;}
}